# configure output
config.log
config.status
libtool
autom4te.cache
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
Makefile.in
conf/Makefile.in
scripts/Makefile.in
src/Makefile.in
src/ctrl/Makefile.in
src/pppoe/Makefile.in
Makefile
conf/Makefile
scripts/Makefile
src/Makefile
src/ctrl/Makefile
src/pppoe-client/Makefile
src/pppoe-client/pppoe/Makefile
src/pppoe-server/Makefile
src/pppoe-server/pppoe/Makefile


# object files/dependencies
*.la
*.lo
*.o
**/.deps
**/.libs
src/common/.dirstamp

# rpm
pppoe-client.spec
.rpmbuild

# deb
.debbuild

# dist
pppoe-client-*.tar.gz

# sample conf
conf/rfc4938.conf

# scripts
scripts/rfc4938clientd

# applications
src/pppoe-client/.dirstamp
src/pppoe-client/pppoe/rfc4938pppoe
src/pppoe-client/rfc4938client
src/pppoe-server/.dirstamp
src/pppoe-server/pppoe/rfc4938pppoes
src/pppoe-server/rfc4938server
src/ctrl/rfc4938ctl
